/* src/global/themes.css */

/* Tema Light */
body.light-theme {
    --background-color: #fff;
    --text-color: #000;
    --text-color-default: #000;
    --text-color-inverse: #fff;
  }
  
  /* Tema Dark */
  body.dark-theme {
    --background-color: #000;
    --text-color: #fff;
    --text-color-default: #fff;
    --text-color-inverse: #fff;
  }
  
  /* Tema Custom: texto padrão em cinza */
  body.custom-theme {
    --background-color: #f5f5f5;  /* Fundo cinza claro */
    --text-color: #888;           /* Texto geral cinza */
    --text-color-default: #888;    /* Texto padrão cinza */
    --text-color-inverse: #fff;    /* Texto inverso permanece branco */
  }
  
  /* Exemplo de estilização para um botão */
  button {
    background-color: var(--background-color);
    color: var(--text-color-default);
    border: 1px solid var(--text-color-default);
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }

  body {
    outline: 5px solid red;
  }
  