@charset "UTF-8";
/* src/global/themes.css */
/* Tema Light */
body.light-theme {
  --background-color: grey;
  --text-color: rgb(138, 138, 255);
  --border-color: rgb(138, 138, 255);
  --text-color-default: rgb(138, 138, 255);
  --text-color-inverse: #fff;
}

/* Tema Dark */
body.dark-theme {
  --background-color: #000;
  --text-color: #fff;
  --border-color: #fff;
  --text-color-default: #fff;
  --text-color-inverse: #fff;
}

/* Tema Custom: texto padrão em cinza */
body.custom-theme {
  --background-color: pink;
  --text-color: purple;
  --border-color: purple;
  --text-color-default: purple; /* Texto padrão cinza */
  --text-color-inverse: #fff; /* Texto inverso permanece branco */
}

body {
  background-color: var(--background-color);
  padding: 300px 50px;
}

/* Exemplo de estilização para um botão */
button {
  background-color: var(--background-color);
  color: var(--text-color-default);
  border: 1px solid var(--border-color);
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
